GOOGLE_CLIENT_ID=280444475194-r9lfo7ok4ovdoe9ltf5a68p4j4edh2g2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
SESSION_SECRET=babadminton-secret-key-change-this
PORT=3000
